source ~/.vimrc

set highlightedyank
set easymotion
set surround
set NERDTree
set functiontextobj
set argtextobj

map <leader><leader> <Plug>(easymotion-s)

map <S-h> <Action>(Back)
map <S-l> <Action>(Forward)

map <C-S-TAB> <Action>(PreviousTab)
map <C-TAB> <Action>(NextTab)

map <C-S-j> <Action>(MethodDown)
map <C-S-k> <Action>(MethodUp)

map <leader>q <Action>(HideAllWindows)
map <leader>f <Action>(SelectInProjectView)

map <leader>sd <Action>(ActivateDatabaseToolWindow)
map <leader>ss <Action>(ActivateStructureToolWindow)
map <leader>sc <Action>(ActivateCommitToolWindow)

map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)

map <leader>dv <Action>(ViewBreakpoints)
map <leader>dt <Action>(ToggleLineBreakpoint)

map <F6> <Action>(PhpListenDebugAction)
map <F7> <Action>(StepInto)
map <F8> <Action>(StepOver)
map <F9> <Action>(Resume)
map <F10> <Action>(StepOut)

map <leader>bv <Action>(ShowBookmarks)
map <leader>bt <Action>(ToggleBookmarkWithMnemonic)

map <leader>gb <Action>(Annotate)

map <leader>yy <Action>(CopyFileName)
map <leader>ya <Action>(CopyAbsolutePath)
map <leader>yr <Action>(CopyContentRootPath)
